# Visual Studio
.vs
*.suo
*.sdf

# Build directories
_build
_deploy
_documentation
build
deploy
/.gradle
Debug
Release

# Binaries
*.exe
*.so
*.a
*.lib
*.dll

modules_back

integrate

.*

# Specific directories
shirabeengine/doxygen/m.css
